<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetPlace</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="/public/img/logo1.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <h1 class="name_logo">PetPlace</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="navbarColor active" aria-current="page" href="#">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="navbarColor" href="#novaLista">Nova Lista</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="navbarColor dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Opções
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Alimentos</a></li>
                            <li><a class="dropdown-item" href="#">Decoração</a></li>
                            <li><a class="dropdown-item" href="#">Livros</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Outros</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="col-6 d-flex" role="search">
                    <input class="form-control me-5" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-outline-success1" id="botao_buscar" type="submit">Buscar</button>
                </form>
                <div class="col-3 d-flex align-items-center justify-content-md-end mt-3 mt-md-0">
                    <a class="btn btn-outline-success1" href="/src/views/configuracao.html">Configurações</a>
                    <a class="btn btn-outline-success1 btnLink" id="botao_sair" href="/sair">Sair</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <section class="bem-vindo">
                <div class="informacoes-bem-vindo">
                    <div class="textos-bem-vindo">
                        <h1>Bem-vindo a Pet Place</h1>
                        <h2>Organizadora de listas de produtos para pets</h2>
                        <h5>Na Pet Place, entendemos que cuidar de um pet envolve uma série de listas, seja para a
                            alimentação, os brinquedos, os medicamentos ou os acessórios. É por isso que criamos uma
                            plataforma que simplifica e aprimora suas experiências de compra, tornando cada lista uma
                            jornada intuitiva e personalizada.</h5>
                    </div>
                </div>
            </section>

            <section id="sobre-nos" class="content-2">

                <h1>Sobre nós</h1>
                <div class="textos-content-2">
                    <p>A Pet Place é mais do que um aplicativo de lista de compras para pets; é o seu parceiro
                        inteligente na organização de todas as suas necessidades de compra para o seu pet. Quer esteja
                        planejando a alimentação semanal, preparando-se para um evento especial ou apenas mantendo sua
                        casa abastecida, a Pet Place está aqui para simplificar o processo.</p>

                    <p>Transforme suas compras em experiências inteligentes com a Pet Place. Descubra o poder da
                        organização simplificada e comece a desfrutar de uma vida sem complicações. Baixe agora e faça
                        de cada compra uma experiência inteligente!</p>
                </div>

            </section>

            <main class="col-9 offset-2 ml-sm-auto px-md-4 py-4">
                <form action="/cadastrar_produto" method="post">
                    <div class="row mt-3 mb-5 ">
                        <h1 id="novaLista" class="h1 pb-2 mb-7 text-dangerGrenn border-bottom border-dangerGrenn">Nova
                            Lista</h1>
                        <div class="col-12">
                            <div class="mt-1">
                                <label for="estilo" class="form-label">Categoria:</label>
                                <select title="selectproduto" aria-label="Default select example"
                                    class="form-control me-2" name="estilo" id="estilo">
                                    <option value="bg-danger0" class="bg-danger0">Selecione</option>
                                    <option value="bg-danger1" class="bg-danger1">Alimentos</option>
                                    <option value="bg-danger2" class="bg-danger2">Brinquedos</option>
                                    <option value="bg-danger3" class="bg-danger3">Medicamentos</option>
                                    <option value="bg-danger4" class="bg-danger4">Acessórios</option>
                                    <option value="bg-danger5" class="bg-danger5">Higiene</option>
                                    <option value="bg-danger6" class="bg-danger6">Roupas</option>
                                    <option value="bg-danger7" class="bg-danger7">Camas e Casinhas</option>
                                    <option value="bg-danger8" class="bg-danger8">Coleiras e Guias</option>
                                    <option value="bg-danger9" class="bg-danger9">Caixas de Transporte</option>
                                    <option value="bg-danger10" class="bg-danger10">Produtos para Treinamento</option>
                                    <option value="bg-danger11" class="bg-danger11">Outros</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mt-1">
                                <label for="produto" class="form-label">Produto:</label>
                                <input type="text" class="form-control" id="produto" name="produto">
                            </div>

                        </div>
                        <div class="col-6">
                            <div class="mt-1">
                                <label for="categoria" class="form-label">Orçamento:</label>
                                <input type="text" class="form-control" id="categoria" name="categoria">


                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mt-1">
                                <label for="quantidade" class="form-label">Quantidade:</label>
                                <textarea class="form-control" rows="3" id="quantidade" name="quantidade"></textarea>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mt-1">
                                <label for="data_vencimento" class="form-label">Data Vencimento:</label>
                                <textarea class="form-control" rows="3" id="data_vencimento"
                                    name="data_vencimento"></textarea>
                            </div>
                        </div>
                        <button type="submit" id="botao_adicionar" class="btn btn-success1 w-100 mt-2">Adicionar</button>
                    </div>
                </form>


                <div class="row my-4">
                    <p>Lista de produtos</p>
                    {{#produtos}}
                    <div class="card {{estilo}} mb-3" style="max-width: 18rem;">
                        <div class="card-header {{estilo}}">{{produto}}</div>
                        <div class="card-body">
                            <h5 class="card-text">Orçamento: {{categoria}}</h5>
                            <h5 class="card-text">Quantidade: {{quantidade}}</h5>
                            <p class="card-text">Data de Vencimento: {{data_vencimento}}</p>
                            <form action="/adicionar_ao_carrinho/{{id}}" method="post">
                                <button type="submit" id="botao_adicionar_ao_carrinho" class="btn btn-danger5">Adicionar ao carrinho</button>
                            </form>
                            <form action="/editar_produto/{{id}}" method="post">
                                <a href="./editarProduto.html">
                                    <button type="submit" id="botao_editar" class="btn btn-danger5">Editar</button>
                                </a>
                            </form>
                            <form action="/remover_produto/{{id}}" method="post">
                                <button type="submit" id="botao_remover_produto" class="btn btn-danger5">Remover</button>
                            </form>
                        </div>
                    </div>
                    {{/produtos}}

                    {{#erro}}
                    <p>erroooooooooooooooooooooooooooooooooooooooooo</p>
                    {{/erro}}

                    <p>Carrinho de compras</p>
                    {{#produtosCarrinho}}
                    <div class="card {{estilo}} mb-3" style="max-width: 18rem;">
                        <div class="card-header {{estilo}}">{{produto}}</div>
                        <div class="card-body">
                            <h5 class="card-text">Orçamento: {{categoria}}</h5>
                            <h5 class="card-text">Quantidade: {{quantidade}}</h5>
                            <p class="card-text">Data de Vencimento: {{data_vencimento}}</p>
                            <form action="/remover_do_carrinho/{{id}}" method="post">
                                <button type="submit" id="botao_remover_do_carrinho" class="btn btn-danger5">Remover do carrinho</button>
                            </form>
                        </div>
                    </div>
                    {{/produtosCarrinho}}
                </div>


            </main>
            <footer>
                <section id="footer">
                    <div class="contatos-footer">
                        <h4>Contatos</h4>

                        <div class="informacoes-maps">
                            <ion-icon name="location"></ion-icon>
                            <p>Rua Pereira Estéfano, Vila da Saúde, São Paulo, 04144070</p>
                        </div>

                        <div class="informacoes-maps">
                            <ion-icon name="logo-whatsapp"></ion-icon>
                            <p>(61)98547-1236</p>
                        </div>

                        <div class="informacoes-maps">
                            <ion-icon name="mail-outline"></ion-icon>
                            <p>petplace@gmail.com</p>
                        </div>
                    </div>

                    <div class="suport-footer">
                        <h4>Suporte</h4>

                        <div class="suporte">
                            Política de Cookies
                        </div>

                        <div class="suporte">
                            Termos de Serviço
                        </div>

                        <div>
                            <button>Fale Conosco <ion-icon name="logo-whatsapp"></ion-icon></button>
                        </div>
                    </div>


                </section>
            </footer>
        </div>
    </div>



    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>